$backgroundImagePath: url("~src/asset/image/background.jpg");
$componentBackground: linear-gradient(208deg, rgba(179,178,204,0.09037118265274857) 0%, rgba(104,104,219,1) 50%, rgba(35,127,145,0.3648809865743172) 100%);
$fullViewPortHeight: 100vh;
$headerFontColor: rgba(141, 249, 162, 0.58);
$textFontColor: rgba(255, 255, 255, 1);