@import "~src/asset/style/variables";
.app {
	background-image: $backgroundImagePath;
	background-repeat: no-repeat;
	background-size: cover;
	height: $fullViewPortHeight;
	.app-body {
		background-color: white;
	}
}