<div class="login container">
    <div class="row">
        <div class="col-xl-4 offset-xl-8 login-form">
            <div>
                <div class="header-login-form">
                    <label>{{"identity.login_header" | translate}}</label>
                </div>
                <string-form-control [(ngModel)]="login" placeholder="{{'identity.enter_login' | translate}}"></string-form-control>
                <password-form-control [(ngModel)]="password" placeholder="{{'identity.enter_password' | translate}}"></password-form-control>
                <div class="form-group">
                    <div class="row">
                        <div class="col-6">
                            <checkbox-control caption="{{'identity.save_credentials' | translate}}" value="isSaveData"></checkbox-control>
                        </div>
                        <div class="col-6">
                            <a href="#">{{"identity.forgo_password" | translate}}</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary login-submit-btn" (click)="loginClick()">{{"identity.authorize" | translate}}</button>
                </div>
                <div class="form-group">
                    <div>
                        <a [routerLink]="['/auth/registration']">{{"identity.registration" | translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>